
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff7df !important;
}

header{
    position: fixed;
    width: 100%;
    z-index: 5;
}
.bg-light {
    background-color: #fafafa!important;
}
.navbar{
    width: 100%;
}
.navbar img{
    width: 100px;
    padding: 5px;
}
.active{
    font-weight: 600;
}
.banner{
    background-image: url("/media/banner.jpg");
    width: 100%;
    min-height: 600px;
}
.banner h2{
    font-size: 60px;
    font-weight: 600;
    color: #fafafa;
}

/* form */
.formulario{
    margin-top: 100px;
}
.form-group{
    margin-bottom: 1rem !important;
}

.text-white{
    color: #000000 !important;
}

.form-control{
    height: 43px;
    border-radius: 0; 
    background: transparent;
    border-color: #0e0e0e;
    color: black;

    
}
.form-control:focus{
    border-color: #777 !important;
    box-shadow: 0 0 0px !important;
    background-color: #fff7df;

}

a{
    text-decoration: none !important;
}

textarea.form-control {
    height: auto;
}

.form-group .btn{
    width: 200px;
    padding: 10px;
    border-radius: 0;
    background: #df3812;
    color: #fff;
}
.form-group .btn:hover{
    background-color: #df4c2b;
	
}


.contact-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #000000;
}
.contact-sub{
    font-size: 14px;
    color: #686b6b;
}

.contact-right :hover{
    text-decoration: none !important;
}
.contact-a :hover{
    color: #df3812 !important;

}
.map iframe{
    width: 100%;
    margin-bottom: 50px;
}
.map h3{
    font-size: 25px;
    font-weight: 600;
}

/* wp */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px !important;
	right:40px;
	bottom: 0;
	color: white !important;
  	background-color: #48bb78;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	z-index:100;
	
}

.float:hover {
	text-decoration: none;
	background-color: #5db983;
}
/* footer */
.footer{
    padding: 10rem 0 20px 0;
}

.text-footer{
    color: #0e0e0e;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.btn-social {
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 10px;
    color: #0e0e0e;

}

.social{
    margin-left: 0.5rem;
    margin-right: 0.5rem;


}
.btn-social:focus{
    text-decoration: none !important;
    box-shadow: 0 0 0px !important;
}

.my-float{
	margin-top:16px;
}
@media (max-width: 992px) {
	.float{
		width:50px;
		height:50px;
		bottom:30px !important;
		right:30px;
		font-size:20px;
	}
    .map{
        margin-top: 50px;
    }
}

